# CORE
Options -Indexes
Options -MultiViews
Options +FollowSymlinks
AddDefaultCharset UTF-8
ServerSignature Off
FileETag none

# ADMIN EMAIL
SetEnv SERVER_ADMIN ryan@ryanstew.art


# MOD_REWRITE
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME}\.html -f

RewriteRule ^(.*)$ $1.html [NC,L]
